.sidebar {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #90a4ae;
}
.sidebarList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.sidebarListItem {
  padding: 30px 45px;
  color: #546e7a;
}

.sidebarListItem__pressed {
  display: block;
  background: -webkit-linear-gradient(90deg, #6b4af1 0%, #cd0b84 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 420px) {
  .sidebar {
    height: auto;
    padding: 0;
    border-right: none;
    border-top: 1px solid #90a4ae;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .sidebarList {
    flex-direction: row;
  }
  .sidebarListItem{
    padding: 15px 45px;
  }
  .Logo {
    display: none;
  }
  .LogOut {
    display: none;
  }
  .mobileSearchIcon{
    display: block;
  }
}
