.pageTitleContainer{
    padding: 40px;
    max-width: 431px;
    width: 100%;
}
.pageTitle{
    color: #D20980;
    font-weight: 500;
    font-size: 38px;
    padding-bottom: 20px;
}
.pageSearch{
    position: relative;
}
.pageSearchField{
    
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #DCEBF2;
    padding: 18px 24px;
}
.pageSearchIcon{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: text;
}
